.footer {
  margin-top: 0px;
  padding-top: 0px;
  border-top: solid 1px #cccccc;

    /* background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column; */
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-content p {
    margin-bottom: 30px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .footer-links li {
    display: inline;
    margin: 0 10px;
  }
  
  .footer-links a {
    color:  rgb(96 101 123);
    text-decoration: none;
  }
  