
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Work+Sans&display=swap");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-box-component {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#root {
  width: 80%; /* Adjust the width of the root element as needed */
  margin: 0 auto; /* Center the root element horizontally */
  min-height: 100%;
}

html {
  color: rgb(96 101 123);
}

body { 
  /* display: flex; */
  padding: 0px;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  max-width: 1800px;
  min-width: 1200px;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: rgb(255 255 255);
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1; /* Grow to fill remaining vertical space */
  padding-top: 140px;
  padding-bottom: 25px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;

}

.main-container__description {
  font-size: 25px;
}

.category-container__header {
  font-size: 70px;
  color:#9180e5;
  margin: 0;
}

.navbar {
  background-color: #ffa550;
  min-height: 60px;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar div {
  margin: 0 20px;
  padding-right: 10px;
  padding-left: 10px;
padding: 7px;
justify-content: space-evenly;
}

.navbar a {
  margin: 0;
  padding-left: 10px;
  font-size: 22px;
}

.category-card p {
  font-size: 30px;
  color: rgb(96 101 123);
  font-weight: 500;
}

/* .category-card {

  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 30px;
} */
.category-wrapper {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-image {
  background-color: #9180e5;
  width: 50px;
  height: 50px;
}


.container {
  padding: 30px;
  margin-top: 15px;
}

h2 {
  color: rgb(43 45 56);
  text-align: center;
  font-size: 48px;
  letter-spacing: -0.2px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700; /* Bold */
}

p {
  max-width: 50rem;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 100px;
}

.main-content {
  max-width: 50rem;
  width: 100%;
  min-height: 200px;
  height: auto;
  margin: 10px;
  padding: 18px 18px 120px 18px;
  position: relative;
  resize: none;
  box-shadow: 0 12px 48px 0px rgb(109 117 141 / 20%);
  background: rgb(255 255 255);
  border: 0.5px solid rgb(231 233 245);
  border-radius: 16px;
}

.main-content:focus {
  border: 0.3px solid rgb(43, 45, 56, 0.3);
  outline: none;
}

p,
.main-content {
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.6;
}

.btn-style{
  display: flex;

}

button {
  /* position: absolute; */
  background: rgb(17 166 131);
  color: rgb(255 255 255);
  border-radius: 10px;
  padding: 16px 32px;
  border: none;
  font-size: 18px;
  letter-spacing: 1px;
  margin: auto;
  display: flex;
  position: relative;
  margin-top: -80px;
  cursor: pointer;
}

button:focus,
button:hover {
  background: rgb(42, 201, 164);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
}

.counter-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 20px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
    word-spacing: normal;
    margin-bottom: 40px;
    margin-top: 15px;
  }

  .category-name {
    font-size: 20px;
  }

  .main-content {
    /*border:1px solid*/
    font-size: 16px;
    word-spacing: normal;
  }

  button {
    padding: 12px 28px;
    font-size: 16px;
    margin-top: -70px;
    margin-right: 20px;
  }

  .counter-container {
    flex-direction: column;
  }

  .counter-container p:first-child {
    margin-bottom: 0;
  }
}

.item-card {
    box-shadow: 0 4px 8px 0 rgba(117, 117, 117, 0.1);
    padding: 10px;
    max-width: 300px;
    min-height: 420px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
}

.item-card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 176, 59, 0.15);
}

.item__image {
    width: 100%;
    height: 270px; 
    border-radius: 10px;
}
    
.item__name {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.item__price {
  font-size: 24px;
  font-weight: 700;
}
 
.item__quantity {
  font-size: 14px;
  font-weight: 200;
  margin-top: 3px;
  margin-bottom: 10px;
}

.item__details  {
  height: 35px;
  display: flex;
margin: 25px;
margin-top: 15px;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 30px;
  background-image: linear-gradient(to right, #f6d365 0%, #ffa550 51%, #f6d365 100%);
}

.item__details a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

.item-details__container {
  display: flex;
  height: 700px;
  width: 1200px;
  margin: 50px auto;
  border-radius: 20px;
  padding: 30px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.05);
}

.item-details__image {
  margin-left: 70px;
  width: 100%;
  height:  100%;
  border-radius: 10px;
}

.item-details__info {
  padding: 20px;
  float: left;
  height: 100%;
  max-width: 500px;
  border-radius: 0 7px 10px 7px;
}

.item-details__header {
  font-size: 60px;
  margin: 0;
  color:#9180e5;
}

.item-details__category {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.item-details__quantity {
  font-size: 20px;
  font-weight: 200;
  margin-top: 3px;
  margin-bottom: 10px;
}

.item-details__description {
  font-size: 25px;
  font-weight: 300;
  padding: 40px 0;
}

.item-details__price {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 20px;
}

.item-details__button {
  font-size: 20px;
}

.item__image img {
  height: 270px;
}

.item__description {
  font-size: 20px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 10px;
}
.shopping-cart-container {
  box-shadow: 0 4px 8px 0 rgba(117, 117, 117, 0.1);
  padding: 10px;
  min-width: 800px;
  min-height: 420px;
  border-radius: 20px;
  margin: auto;
  text-align: center;

}

.cart-total-container {
  padding-bottom: 100px;
}